.wrapper{
    width: 1000px;
    height: 650px;
    border: 1px solid black;
    position: relative;
}
.hood{
    width: 800px;
    height: 450px;
    position: absolute;
    border-radius: 450px 450px 0 0;
    background-color: #87cefa;
    top: 200px;
    left: 100px;
    box-shadow: 0px 0px 2px #000;
}
.face{
    width: 650px;
    height: 400px;
    border: 1px solid black;
    border-radius: 350px 350px 0 0;
    background-color:	#ffa500;
    position: relative;
    top: 50px;
    left: 77px;
}
.ear{
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #000;
    background-color: #87cefa;
    top: 190px;
}
.ear.left {
    left: 200px;
}
.ear.right {
    right: 200px;
}
.hand{
    width: 180px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffa500;
    bottom: -50px;
    z-index: 1;
}
.hand.left {
    left: -40px;
    box-shadow: 3px 0px 4px #b8860b;
}
.hand.right {
    right: -40px;
    box-shadow: -3px 0px 4px #b8860b;
}
.hand{
    width: 180px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffa500;
    bottom: -50px;
    z-index: 1;
}
.eyebrow{
    width: 150px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
    background-color: #000;
    top: 120px;
    z-index: 1;
}
.eyebrow.left {
    left: 130px;
}
.eyebrow.right {
    right: 130px;
}
.eye{
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    top: 170px;
    z-index: 1;
}
.eye.left {
    left: 210px;
}
.eye.right {
    right: 210px;
}
.norse {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    top: 230px;
    z-index: 1;
    left: 300px;
}
.norse2 {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: 240px;
    z-index: 0;
}
.norse2.left {
    left: 240px;
}
.norse2.right {
    right: 240px;
}